*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: hsl(218, 28%, 13%);
}

.intro{
    background-color: hsl(217, 28%, 15%);
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    padding-top: 20px;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

nav ul li{
    list-style-type: none;
    margin-right: 15px;
}

nav ul li a:link{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: yellow;
}

nav ul li a:active{
    color: white;
}

nav ul{
    display: inline-flex;
    color: white;
}

nav img{
    margin-top: 10px;
    height: 30px;
    width: 100px;
}

.hero-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(./images/bg-curvy-desktop.svg);
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-position:bottom;
    background-position-y: 300px;
    padding-bottom: 150px;
    background-position-x: -420px;
    background-size: cover;}

.hero-section h2, p{
    text-align: center;
    color: white;
}

.hero-section img{
    width: 400px;
    height: 300px;
}

.hero-image{
    display:flex;
    justify-content: center;
}


.hero-text{
    padding: 10px 0px;
}

.hero-text p{
    padding: 20px 0;
}

.hero-section button{
    width: 180px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 14px;
    background-color: hsl(198, 60%, 50%);
    cursor: pointer;
}

.hero-section button:hover{
    background-color: white;
    color: black;
}

.hero-section button:active{
    background-color: black;
    color: white;
    width: 170px;
    outline: auto;
}

.hero-button{
    display: flex;
    justify-content: center;
}

.benefits-container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    row-gap: 20px;
    column-gap: 150px;
    padding-bottom: 80px;
}

.benefit-img-con{
    display: flex;
    justify-content: center;
}

.benefit-text-con{
    text-align: center;
    color: white;
}



.benefit-text-con p{
    font-size: 14px;
    padding-top: 10px;
    color: gray;
}

.benefit{
    width: 300px;
    padding: 30px 0;
}

.benefit-img-con img{
    width: 60px;
}

.how-it-works{
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
    padding-inline: 35px;
    justify-content: center;
    margin-block: auto;
}


.illustration-img img{
    width: 100%;
}
/* .stay-productive{
    width: 50%;
    justify-content: flex-end;
} */

.stay-productive img{
    width: 550px;
}

.stay-productive-text{
    padding-top: 90px;
    color: white;
    padding-inline-start: 30px;
    width: 50%;
}

.stay-productive-text h2{
    width: 265px;
    padding-right:0.5px ;
}

.stay-productive-text p{
    padding-top: 10px;
    text-align: left;
}

.testimonials{
    margin-top: 20px;
    margin-bottom: 40px;
    background-image: url("./images/bg-quotes.png");
    background-repeat: no-repeat;
}

.feedback-card{
    border: 1px solid none;
    background-color: hsl(219, 30%, 18%);
    color: white;
    width: 30%;
    height: 100%;
    margin-right: 20px;
    padding: 35px;
}

.feedback-card p{
    text-align: left;
    line-height: 25px;
    color: rgb(181, 178, 171);
    font-size: 14px;

}

.testimonial-info{
    height: 50px;
    border: 1px solid none;
    display: flex;
    margin-top: 18px;
}

.testimonial-img img{
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}


.reviews{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    margin-left: 18px;
}


.sign-up{
    background: linear-gradient(to bottom,
    hsl(218, 28%, 13%) 50%, 
    hsl(216, 53%, 9%) 50% );
    height: 250px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.lead-magnet{
    background-color: hsl(217, 28%, 15%);
    height: 200px;
    width: 750px;
    padding: 20px;
}

.email-text h3{
    text-align: center;
    color: white;
    line-height: 55px;
}

.email-text p{
    font-size: 14px;
    padding: 0 60px;
}

.email-form{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.email-form input{
    width: 300px;
    height: 30px;
    border-radius: 30px;
    outline: none;
    border: none;
    padding-left: 10px;
}

.email-form button{
    width: 170px;
    height: 30px;
    background-color:  hsl(176, 68%, 64%);
    border: none;
    border-radius: 30px;
    color: white;
    margin-left: 20px;
    font-size: 14px;
    
}

footer{
    height: auto;
    background-color: hsl(216, 53%, 9%);
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-sections-container{
    display: flex;
    justify-content: center;
}

.footer-sections{
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.footer-sections address{
    width: 30%;
    margin-right: 30px;
}

.footer-img{
    display: flex;
    justify-content: center;
}

footer img{
    height: 30px;
    width: 100px;
    margin-left: 50px;   
}

.footer-nav ul{
    list-style-type: none;
    line-height: 30px;
}

.footer-nav2 ul{
    list-style-type: none;
    line-height: 30px;
}

.social{
    display: flex;
    justify-content: space-between;
}

.social i{
    margin-right: 10px;
}

.illustration-img{
    width: 50%;
}


@media only screen and (max-width: 770px){
    nav{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        padding-top: 20px;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        width: 100%;
    }

   

    .hero-section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-image: url(./images/bg-curvy-mobile.svg);
        font-family: 'Open Sans', sans-serif;
        background-repeat: no-repeat;
        background-position:top;
        padding-bottom: 150px;
        background-size: contain;
        padding-top: 100px;
        background-position-y: 300px;
    }

    .hero-image img{
        width: 300px;
        height: auto;
    }

    .intro{
        background: linear-gradient(to bottom,
        hsl(217, 28%, 15%) 65%, 
        hsl(218, 28%, 13%) 35% );
    }

    .hero-image{
        display: flex;
        justify-content: center;
    }

        .hero-text{
            padding: 10px;
        }

        .hero-text p{
            padding: 10px 30px;
            text-align: center;
        }

        .hero-text h2{
            padding: 0 20px;
            text-align: center;
        }

        .benefits-container{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-bottom: 80px;
            flex-direction: column;
            /* margin-left: 58px; */
        }

        .benefit{
            padding: 30px 0;
            width: auto;
        }

        .benefit-text-con p{
            padding: 0 40px;
        }

        .how-it-works{
            display: flex;
            flex-wrap: wrap;
            padding-top: 20px;
            justify-content: center;
            margin-block: auto;
            
        }

        .stay-productive img{
            width: 312px;
            margin-left: -21px;
        }

        .stay-productive{
            display: flex;
            width: 100%;
            justify-content: center;
        }

        .stay-productive-text{
            padding-top: 90px;
            width: 100%;
            padding-inline-start: 30px;
            color: white;
        }
        
        .stay-productive-text h2{
            padding:0px ;
        }
        
        .stay-productive-text p{
            padding-top: 10px;
            text-align: left;
            
        }

        .testimonials{
            display: flex;
            justify-content: center;
            padding: 10px;
        }

        .reviews{
            display: flex;
            justify-content: center;
            justify-items: center;
            font-family: 'Open Sans', sans-serif;
            flex-direction: column;
        }

        .feedback-card{
            border: 1px solid none;
            background-color: hsl(219, 30%, 18%);
            color: white;
            width: 320px;
            height: 220px;
            padding: 35px;
            margin-top: 25px;
        }

        .sign-up{
            margin-top: 120px;
        }

        .lead-magnet{
            background-color: hsl(217, 28%, 15%);
            height: 274px;
            width: 386px;
            padding: 20px;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        
        .email-text h3{
            text-align: center;
            color: white;
            line-height: 55px;
        }
        
        .email-text p{
            font-size: 14px;
            text-align: center;
        }
        
        .email-form{
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 20px;
        }
        
        .email-form input{
            width: 265px;
            height: 30px;
            border-radius: 30px;
            outline: none;
            border: none;
            padding-left: 10px;
            margin-left: 40px;
        }
        
        .email-form button{
            width: 265px;
            height: 30px;
            background-color:  hsl(176, 68%, 64%);
            border: none;
            border-radius: 30px;
            color: white;
            margin-left: 40px;
            margin-top: 5px;
            font-size: 14px;
            
        }

        .footer-sections{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }


        /* continue from here */
        footer{
            height: auto;
            background-color: hsl(216, 53%, 9%);
            color: white;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        
        .footer-sections-container{
            display: flex;
            justify-content: center;
        }
        
        .footer-sections{
            display: flex;
            justify-content: center;
            width: 410px;
            flex-direction: column;
        }
        
        .footer-sections address{
            width: 100%;
            margin-right: 30px;
            text-align: left;
            padding: 20px 50px;
        }

        .contact{
            text-align: left;
            padding-right: 184px;
        }

        .contact p{
            margin-top: 10px;
        }
        
        .footer-img{
            display: flex;
            justify-content: center;
        }
        
        footer img{
            height: 30px;
            width: 100px;
            margin-left: 50px;   
        }
        
        .footer-nav ul{
            list-style-type: none;
            line-height: 30px;
            padding: 20px;
        }
        
        .footer-nav2 ul{
            list-style-type: none;
            line-height: 30px;
            padding: 20px;
        }
        
        .social{
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }
        
        .social i{
            margin-right: 10px;
        }
}

/* 
@media only screen and (min-width: 912px){
    .hero-text{
        padding: 10px 0px;
    }

    .stay-productive-text{
        width: auto;
    }

    .how-it-works img{
        width: 400px;
    }

    .feedback-card{
        height: 270px;
        width: 260px;
    }
    
} */