*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: hsl(218, 28%, 13%);
}

.intro{
    background-color: hsl(217, 28%, 15%);
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    padding-top: 20px;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

nav ul li{
    list-style-type: none;
    margin-right: 15px;
}

nav ul{
    display: inline-flex;
    color: white;
}

nav img{
    margin-top: 10px;
    height: 30px;
    width: 100px;
}

.hero-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(./images/bg-curvy-desktop.svg);
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-position:bottom;
    background-position-y: 300px;
    padding-bottom: 150px;
    background-position-x: -420px;
    background-size: cover;}

.hero-section h2, p{
    text-align: center;
    color: white;
}

.hero-section img{
    width: 400px;
    height: 300px;
}

.nav-image{
    display:flex;
    justify-content: center;
}


.hero-text{
    padding: 10px 450px;
}

.hero-text p{
    padding: 20px 0;
}

.hero-section button{
    width: 180px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 14px;
    background-color: hsl(198, 60%, 50%);
    cursor: pointer;
}

.hero-section button:hover{
    background-color: white;
    color: black;
}

.hero-section button:active{
    background-color: black;
    color: white;
    width: 170px;
    outline: auto;
}

.hero-button{
    display: flex;
    justify-content: center;
}

.benefits-container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    row-gap: 20px;
    column-gap: 150px;
    padding-bottom: 80px;
}

.benefit-img-con{
    display: flex;
    justify-content: center;
}

.benefit-text-con{
    text-align: center;
    color: white;
}



.benefit-text-con p{
    font-size: 14px;
    padding-top: 10px;
    color: gray;
}

.benefit{
    width: 300px;
    padding: 30px 0;
}

.benefit-img-con img{
    width: 60px;
}

.how-it-works{
    display: grid;
    padding-top: 20px;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 50px;
    padding: 0 50px;
    margin-left: 50px;
    
}

.stay-productive{
    width: 50%;
    justify-content: flex-end;
}

.stay-productive img{
    width: 550px;
}

.stay-productive-text{
    padding-top: 90px;
    color: white;
    width: 50%;
}

.stay-productive-text h2{
    width: 265px;
    padding-right:0.5px ;
}

.stay-productive-text p{
    padding-top: 10px;
    text-align: left;
}

.testimonials{
    margin-top: 20px;
    margin-bottom: 40px;
}

.feedback-card{
    border: 1px solid none;
    background-color: hsl(219, 30%, 18%);
    color: white;
    width: 400px;
    height: 220px;
    margin-right: 20px;
    padding: 35px;
}

.feedback-card p{
    text-align: left;
    line-height: 25px;
    color: rgb(181, 178, 171);
    font-size: 14px;

}

.testimonial-info{
    height: 50px;
    border: 1px solid none;
    display: flex;
    margin-top: 18px;
}

.testimonial-img img{
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}


.reviews{
    display: flex;
    justify-content: center;
    justify-items: center;
    font-family: 'Open Sans', sans-serif;
}


.sign-up{
    background: linear-gradient(to bottom,
    hsl(218, 28%, 13%) 50%, 
    hsl(216, 53%, 9%) 50% );
    height: 250px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.lead-magnet{
    background-color: hsl(217, 28%, 15%);
    height: 200px;
    width: 500px;
}
